<nav class="bg-gray-800">
  <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img class="h-8 w-auto" src="https://i0.wp.com/ispa-ptsa.com/wp-content/uploads/2018/04/facebook-album-icon.png?fit=256%2C256&ssl=1" alt="Your Company">
        </div>
        <%if user_signed_in?%>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4 mt-1">        
            <%=link_to "Новый пост", new_post_path, class: "font-semibold text-white hover:text-gray-300 mr-10"%>            
          </div>
        </div>
        <%end%>
      </div>
      
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <% if user_signed_in? %>
        <div class="relative ml-3" id="dropdownButton" onclick="toggleDropdown()">
          <div>
            <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">        
              <img class="size-8 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRs_rWILOMx5-v3aXwJu7LWUhnPceiKvvDg&s" alt="">
              <div class="text-white font-semibold mt-1 ml-1">
                <%=current_user.name%>
              </div>
            </button>
          </div>
          
          <div id="dropdown" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">          
            <%=link_to "Профиль", user_path(current_user), class:"block px-4 py-2 text-sm text-gray-700"%>          
            <%=button_to "Выйти",  session_path, method: :delete, class:"block px-4 py-2 text-sm text-gray-700"%>
          </div>
        </div>
        <%else%>
            <div>
                <%=link_to "Регистрация", new_user_path, class: "font-semibold text-white hover:text-gray-300 mr-10"%>
                <%=link_to "Войти", new_session_path, class: "font-semibold text-white hover:text-gray-300"%> 
            </div>
        <%end%>
      </div>
    </div>
  </div>
</nav>
<div class="container mt-5">
    <div class="ml-20 mr-20">
        <div class="flex justify-start items-center">
            <img class="size-16 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRs_rWILOMx5-v3aXwJu7LWUhnPceiKvvDg&s" alt="">
            <h1 class="text-6xl max-w-full break-words"><%= @user.name%></h1>
        </div>
        <h6 class="text-xl">
            <%= "Всего постов: #{@user.posts.size}"%>
        </h6>
    </div>
    <div class="flex flex-wrap -mx-4 ml-20 mr-20">
    <% @posts.each do |post| %>
        <div class="w-full sm:w-1/2 lg:w-1/3 p-4">
            <div onclick="showDialog('<%= j post.title%>', '<%= j post.body%>', '<%= j post.tags%>', '<%= j post.user.name%>', '<%= j url_for(post.image)%>', <%= j post.id %>)" class="bg-white rounded-lg shadow-lg hover:bg-gray-200 transition duration-300">
                <% if post.image.attached? %>
                    <%= image_tag post.image, class: "rounded-t-lg w-full h-64 object-cover" %>
                <% end %>
            <div class="items-center p-4">
              <div>
                  <h2 class="text-lg font-semibold truncate"><%= post.title %></h2>        
              </div>
              <div id="delete-post">
                <%if current_user.present? && current_user.id == @user.id%>              
                    <%=button_to "Удалить", post_path(post), method: :delete, form: {data: {turbo_confirm: 'Вы уверены, что хотите удалить пост?'}}, class:"text-base text-red-700"%>              
                <%end%>
              </div>
            </div>
        </div>
        </div>
    <% end %>
    </div>
</div>

<div id="dialog" class="fixed left-0 top-0 bg-slate-900 bg-opacity-50 w-full h-full justify-center items-center opacity-0 hidden transition-opacity duration-500">
  <div class="bg-white rounded shadow-md p-8 w-[50%] h-fit flex flex-col relative">
    <div class="absolute top-4 right-4">
      <button onclick="hideDialog()" class="flex items-center justify-center w-10 h-10 bg-transparent border-0 rounded-full hover:bg-gray-200 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-gray-800" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <div class="w-full flex">
      <div class="w-4/6 flex items-center"><img id="dialog-image" class="max-h-full"/></div>
      <div class="p-4 w-2/6 flex flex-col justify-between">
        <div>
          <h1 id="dialog-title" class="text-2xl font-semibold break-words"></h1>
          <div class=" overflow-y-auto ">
            <h2 id="dialog-body" class="text-xl font-semibold break-words"></h2>
          </div>
          <h3 id="dialog-tags" class="text-l font-semibold break-words"></h3>
        </div>        
        <h2 id="dialog-user" class="text-l font-semibold break-words"></h2>      
      </div>
    </div>
  </div>
</div>



<script>
  function showDialog(title, body, tags, user, imageUrl){
    let dialog = document.getElementById('dialog');
    document.getElementById('dialog-title').textContent = title;
    document.getElementById('dialog-body').textContent = body;
    document.getElementById('dialog-tags').textContent = tags;
    document.getElementById('dialog-user').textContent = user;
    document.getElementById('dialog-image').src = imageUrl;
    
    dialog.classList.remove('hidden');
    dialog.classList.add('flex');
    

    setTimeout(() => {
      dialog.classList.add('opacity-100');  
    }, 20);
  }
  function hideDialog(){
    let dialog = document.getElementById('dialog');
    dialog.classList.add('opacity-0'); 
    dialog.classList.remove('opacity-100');   
    setTimeout(() => {
      dialog.classList.add('hidden');
      dialog.classList.remove('flex');
    }, 500);
  }

  document.addEventListener('DOMContentLoaded', function() {
  const deleteLinks = document.querySelectorAll('#delete-post');

  deleteLinks.forEach(link => {
    link.addEventListener('click', function(event) {
      event.stopPropagation();
    });
  });
});



</script>
<script>
      document.addEventListener('DOMContentLoaded', function() {
        const dropdownButton = document.querySelector('#dropdownButton');
        const dropdown = document.querySelector('#dropdown');

        function toggleDropdown() {
            dropdown.classList.toggle('hidden');
        }

        dropdownButton.addEventListener('click', function(event) {
            event.stopPropagation();
            toggleDropdown();
        });

        document.addEventListener('click', function(event) {
            if (!dropdownButton.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.classList.add('hidden');
            }
        });
    });
</script>
