<nav class="bg-gray-800 ">
  <div class="mx-auto max-w-full px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img class="h-8 w-auto" src="https://i0.wp.com/ispa-ptsa.com/wp-content/uploads/2018/04/facebook-album-icon.png?fit=256%2C256&ssl=1" alt="Your Company">
        </div>
        <%if user_signed_in?%>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">        
            <%=link_to "Новый пост", new_post_path, class: "font-semibold text-white hover:text-gray-300 mr-10"%>            
          </div>
        </div>
        <%end%>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
       

        <% if user_signed_in? %>
        <div class="relative ml-3" id="dropdownButton">
          <div>
            <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" onclick="toggleDropdown()">        
              <img class="size-8 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtRs_rWILOMx5-v3aXwJu7LWUhnPceiKvvDg&s" alt="">
              <div class="text-white font-semibold mt-1 ml-1">
                <%=current_user.name%>
              </div>
            </button>
          </div>
          
          <div id="dropdown" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Профиль</a>            
            <%=button_to "Выйти", session_path, method: :delete, class:"block px-4 py-2 text-sm text-gray-700"%>             
          </div>
        </div>
        <%else%>
            <div>
                <%=link_to "Регистрация", new_user_path, class: "font-semibold text-white hover:text-gray-300 mr-10"%>
                <%=link_to "Войти", new_session_path, class: "font-semibold text-white hover:text-gray-300"%> 
            </div>
        <%end%>
      </div>
    </div>
  </div>
</nav>
<div class="flex flex-wrap -mx-4 ml-4 mr-4">
  <% @posts.each do |post| %>
    <div class="w-full sm:w-1/2 lg:w-1/5 p-4">
      <div onclick="showDialog('<%= j post.title%>', '<%= j post.body%>', '<%= j post.tags%>', '<%= j post.user.name%>', '<%= j url_for(post.image)%>')" class="bg-white rounded-lg shadow-lg hover:bg-gray-200 transition duration-300">
        <% if post.image.attached? %>
          <%= image_tag post.image, class: "rounded-t-lg w-full h-48 object-cover" %>
        <% end %>
        <div class="p-4">
          <h2 class="text-lg font-semibold truncate"><%= post.title %></h2>        
        </div>
      </div>
    </div>
  <% end %>
</div>

<div id="dialog" class="fixed left-0 top-0 bg-slate-900 bg-opacity-50 w-full h-full justify-center items-center opacity-0 hidden transition-opacity duration-500">
  <div class="bg-white rounded shadow-md p-8 w-[50%] h-fit flex">
    <div class="w-1/2 flex items-center"><img id="dialog-image"/></div>
    <div class="p-4 w-1/2 flex flex-col justify-between">
      <div>
        <h2 id="dialog-title" class="text-xl font-semibold break-words"></h2>
        <h2 id="dialog-body" class="text-xl font-semibold"></h2>
        <h2 id="dialog-tags" class="text-xl font-semibold"></h2>
      </div>
      <h2 id="dialog-user" class="text-xl font-semibold"></h2>
    </div>
    <div>
        <button onclick="hideDialog()">
        
          Закрыть
        
        </button>
  </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownButton = document.querySelector('#dropdownButton');
        const dropdown = document.querySelector('#dropdown');

        function toggleDropdown() {
            dropdown.classList.toggle('hidden');
        }

        dropdownButton.addEventListener('click', function(event) {
            event.stopPropagation();
            toggleDropdown();
        });

        document.addEventListener('click', function(event) {
            if (!dropdownButton.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.classList.add('hidden');
            }
        });
    });
</script>

<script>
  function showDialog(title, body, tags, user, imageUrl){
    let dialog = document.getElementById('dialog');
    let dialogTitle = document.getElementById('dialog-title');
    let dialogBody = document.getElementById('dialog-body');
    let dialogTags = document.getElementById('dialog-tags');
    let dialogUser = document.getElementById('dialog-user');
    let dialogImage = document.getElementById('dialog-image');
    dialogTitle.textContent = title;
    dialogBody.textContent = body;
    dialogTags.textContent = tags;
    dialogUser.textContent = user;
    dialogImage.src = imageUrl;
    dialog.classList.remove('hidden');
    dialog.classList.add('flex');

    setTimeout(() => {
      dialog.classList.add('opacity-100');  
    }, 20);
  }
  function hideDialog(){
    let dialog = document.getElementById('dialog');
    dialog.classList.add('opacity-0'); 
    dialog.classList.remove('opacity-100');   
    setTimeout(() => {
      dialog.classList.add('hidden');
      dialog.classList.remove('flex');
    }, 500);
  }
</script>