<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Пост</h2>
  </div>

  <%= form_with model: @post do |f| %>
     <div class="mt-10 flex sm:mx-auto sm:w-full sm:max-w-2xl h-80">
      <%= render partial: "image_preview", locals: {f: f, post: @post}%>
      <div class="flex-grow">
        <div>
          <%= f.label :title, "Заголовок поста", class: "space-y-6" %>
          <div class="mt-2">
            <%= f.text_field :title, :maxlength => 50 ,class: "block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="mt-4">
          <%= f.label :body, "Описание поста", class: "space-y-6" %>
          <div class="mt-2">
            <%= f.text_area :body, :maxlength => 200,class: "block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>

        <div class="mt-4">
          <%= f.label :tags, "Теги", class: "space-y-6" %>
          <div class="mt-2">
            <%= f.text_field :tags, :maxlength => 50 ,class: "block w-full rounded-md bg-white px-3 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-2xl">
      <%= f.submit "Создать пост", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
    </div>
  <% end %>
</div>
